html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

/* Заявления */
.statements-hero__inner{
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #fff;
}

.container{
    max-width: 1200px;
    padding: 0 10px;
    margin: auto;
}

.statements{
    width: 100%;
    padding: 30px;
    background: #191919;
    margin-top: 100px;
}

.statements__title,
.statements__form-title{
    font-size: 28px;
    font-weight: 700;
}

.statements__form{
    width: 100%;
    padding: 30px;
    background: #191919;
}

.statements__form input[name = "number"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px 0;
    border: 2px solid #3498db;
    padding: 14px 20px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
}

.statements__form textarea[name = "description"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px 0;
    border: 2px solid #3498db;
    padding: 14px 20px;
    width: 100%;
    height: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
}

.statements__form input[name = "number"]:focus,
.statements__form textarea[name = "description"]:focus{
    border-color: #2ecc71;
}

.statements__form input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
    cursor: pointer;
}

.statements__form input[type = "submit"]:hover {
    background: #2ecc71;
}

/* Авторизация */
form a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"],
.box input[type = "password"],
.box input[type = "tel"],
.box input[type = "email"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
}

.box input[type = "text"]:focus,
.box input[type = "password"]:focus,
.box input[type = "tel"]:focus,
.box input[type = "email"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: .25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover {
    background: #2ecc71;
}